@mixin mediator ($min-width, $columns) {
  @media (min-width: $min-width) {
    grid-template-columns: repeat($columns, 200px);
  }
}

.catalog {
  display: grid;
  grid-template-columns: 200px;
  gap: 48px;
  justify-content: center;

  @include mediator(488px, 2);
  @include mediator(768px, 3);
  @include mediator(1024px, 4);

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
